.footer {
    background-image: url(/assets/home/bg-pattern-footer.svg);
    width: 100%;
    height: 150%;
    background-color: $darkGrey;
    background-position: center;

    position: absolute;
    bottom: -130rem;
    z-index: -10;

    text-align: center;


    @include breakpoint-up(medium) {
        bottom: -66rem;
        height: 100%;
        background-position: top;
    }

    @include breakpoint-up(large) {
        bottom: -73rem;
        background-position: right;
        display: grid;

        grid-template-areas:
        ". button"
        "coming button"
        "countdown button"
        ". .";

        grid-template-rows: 2.5fr .5fr 1.125fr 1fr;
    }


    h3 {
        padding-top: 55rem;
        color: white;
        letter-spacing: .3rem;
        
        @include breakpoint-up(medium) {
            padding-top: 34rem;
        }

        @include breakpoint-up(large) {
            padding-top: 0;
            grid-area: coming;
            text-align: left;
            padding-left: 11rem;
        }

        span {
            color: $darkerBlue;
            font-weight: 700;
        }
    }

    &__countdown {
        display: grid;

        grid-template-areas: 
        "num num num num";

        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 1rem;

        padding: 2rem 1rem;

        @include breakpoint-up(medium) {
            padding: 2rem 11rem;
        }

        @include breakpoint-up(large) {
            grid-area: countdown;
        }

        div {
            background-color: $mediumGrey;
            border-radius: .25rem;

            &:hover {
                transform: scale(1.05);
                transition: transform 200ms ease-in-out;
            }

            @include breakpoint-up(medium) {
                border-radius: 0.5rem;
            }

            .num {
                color: white;
                font-size: 2rem;
                line-height: 2rem;
                font-weight: 700;
                margin: 0;
                margin-top: 1rem;

                @include breakpoint-up(medium) {
                    font-size: 3.5rem;
                    line-height: 3.5rem;
                }
            }

            .word {
                text-transform: lowercase;
                margin-top: 0;
                font-weight: 700;
            }
        }
    }

    button {
        margin-top: 1rem;
        margin-bottom: 5rem;

        @include breakpoint-up(medium) {
            margin-bottom: 10rem;
        }

        @include breakpoint-up(large) {
            grid-area: button;
            justify-self: center;
            align-self: center;
            margin-top: 20rem;
            margin-bottom: 0;
        }
    }
}